h1{
    border-bottom: 2px solid #FFFFFF;
	color:#FFFFFF;
}

h2{
	margin-left:30px;
    border-bottom: 1px solid #FFFFFF;
}

.navigation {
	list-style: none;
	margin: 0;
	background: #004E98;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: rgb(255,255,255);
}

.navigation a:hover {
	border-radius: 20px 0px 0px 5px;
	background: #00A2EF;
}

#contenu{
	display:flex; 
	height:100%;
	flex-basis:fit-content;
}

section{
	padding:20px;
	color: rgb(255,255,255);
	background: rgb(255,32,100);
}

#test{
	justify-content:center;
	display:flex;
}

#testlist{
	background: #87BCDE;
	list-style: none;
}

#testlist a{
	display: block;
	text-decoration: none;
	padding:10px;
	color:rgb(50,50,50);
}

#testlist a:hover {
	border-radius: 20px 0px 0px 5px;
	background: #805E73;
}

header{	
	background-size: cover;
	padding:80px;
	background-image:url(image.jpg);
    background-position: center;
}

footer{
	color:#FFFFFF;
	padding:5px;
	background:#254441;
	text-align:right;
}

.background-image{
	z-index: -1;
	position:fixed;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-image:url(image.jpg);
}

html, body {
	font-family:sans-serif;
	margin:0%;
}

table {
	margin:auto;
	border-collapse: collapse;
}

table, tr ,td{
	border: 1px solid black;
	padding: 15px;
	text-align: center;
	background:rgb(255,255,255);
	color:#000000;
	width:50%;
}


th {
	border: 1px solid black;
	background:rgb(163, 17, 85);
}




