body{
	color:white;
}


#container{
	display:flex;
	flex-wrap: wrap;
}

fieldset{
	background-image:url(card.png);
	margin:10px;
	padding:20px;
	border-radius:16px;
	border:none;
	width:492px;
	min-width:492px;
	height:302px;
	min-height:302px;
}

table{
	text-align:left;
	font-size: 16px;
}

input[type="text"],input[type="number"]{
	color:white;
	font-size:20px;
	margin:5px;
	width:200px;
	border:none;
	border-bottom:1px solid #FFF;
	background-color:transparent;
}

input[type="number"]{
	width:48px;
}

#classe input[type="text"]{
	width:64px;
}

#nom{
	text-transform:uppercase;
}

#prenom{
	text-transform :capitalize;
}

input[type="text"]:focus,input[type="number"]:focus{
	margin:5px;
	border:none;
	border-bottom:1px solid #FFF;
	outline:none;
}

*{
	font-family:serif;
	padding:0;margin:0;
	//font-weight:normal;
}

#photo{
	border:1px solid;
	border-radius:16px;
	background-image:url(photo.jpg);
	background-size:128px 128px;
	padding:0px;
	height:128px;
	width:128px;
	margin-bottom:20px;
}