@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body{
	padding: 0; margin: 0;
	background-color: var(--background-color);
	font-family:'Roboto', sans-serif;
	
	display: flex;
	flex-direction: column;
	position:absolute;
	min-height:100%;
	width:100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

header{
	width:calc(100% - 40px);
	height:30px;
	padding:20px;
	display: flex;
	flex-direction: row;
	box-shadow: 0 0 10px #000;
	z-index:2;
	background: linear-gradient(45deg,#222222DD 50%, var(--main) 90%, var(--main) 100%),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

hr{
	border-bottom: 1px solid var(--border);
}

.fill{
	flex-grow: 2;
}

.brand{
	display:flex;
	flex-direction:row;	
	align-items:center;
	height: 100%;
	text-decoration: none;
}

.logo{
	max-height:140%;
	margin-right:20px;
}

.brandname{
	color:var(--font-color);
	text-shadow: 3px 3px #000;
}

nav{
	min-width: 220px;
	background-color: var(--nav-color);
	padding-top: 20px;
	box-shadow: 0 0 5px #000;
	z-index:1;
}

.categories{
	color: #fff;
	padding: 20px;
	padding-right: 80px;
	border-radius: 0 50px 50px 0;
	background-size: 200% auto;
	background-position: 100% center;
	background-image: linear-gradient(to right, var(--main-transparent) 0%, transparent 50%);
	transition: 0.3s;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.categories:hover, .categories:focus{
	background-position: 0% center;
	text-decoration: underline;
}

.categories > .icon{
	margin-right: 30px;
}

section{
	flex-grow: 2;
	color: var(--font-color);
	display: flex;
	justify-content: center;
}

main{
	width: 100%;
	height: calc(100% - 70px);
	flex-grow: 2;
	display: flex;
	flex-direction: row;
}

.content > div{
	margin:20px;
}

.content{
	min-width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.btn{
	color: var(--font-color);
	background-color: var(--hi-color);
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;
	user-select: none;
	padding: 10px 20px;
}
.btn:hover, .btn:focus, .btn.active{
	background-color: #666;
	text-decoration: underline;
}
.btn:active{
	background-color: #777;
}
.btn-label{
	color: var(--font-color) !important;
}

.btn[disabled]{
	cursor:default;
	background-color: var(--background-color);
	color: var(--hi-color);
	pointer-events: none;
}

.input-group{	
	display: flex;
	flex-direction: row;
	align-items: center;
	--border-bottom: 2px solid var(--main-transparent);
}

.input-group label{
	padding: 10px;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid var(--main-transparent);
	background-color: var(--hi-color);
}

.input-group .btn{
	border-left: 1px solid var(--main-transparent);
	border-radius: 0 5px 5px 0;
}


input{
	text-align: center;
	background-color: transparent;
	color:var(--font-color);
	border: none;
	outline: none;
	padding: 10px;
	box-shadow: inset 0 10px 10px -10px #000;
}