.letter, .pagination{
	max-width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.letter a{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	padding: 0;
	width: 40px;
	height: 25px;
}

.table-area{
	display: flex;
	justify-content: center;
}

table{
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	font-size: 0.8em;
}

thead tr{
	background-color: var(--main-transparent);
	color: #ffffff;
	text-align: left;
}

thead td:first-child{
	border-radius: 10px 0 0 0;
}
thead td:last-child{
	border-radius: 0 10px 0 0;
}

td{
	padding: 0.6em 2em;
}

td a{
	color: var(--font-color);
	text-decoration: none;
	cursor: pointer;
}
td a:hover{
	color: var(--main);
	text-decoration: underline;
}


tbody tr {
	--font-weight: 100;
	border-bottom: 1px solid var(--border);
}

tbody tr:nth-of-type(even) {
	background-color: rgba(255,255,255,0.05);
}

tbody tr:last-of-type {
	border-bottom: 2px solid var(--main);
}

tbody tr:hover{
	background-color: var(--main-transparent);
}

.pagination{
	display: flex;
	justify-content: center;
}

.pagination .btn{
	min-width: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

