
.tab-content, .tab-header{
	border: 1px solid #555;
	border-radius: 20px;
	padding: 20px 40px;
}

.tab-header{
	font-size: 13px;
}
.tab-header > div{
	margin: 10px 0;
}

.tab-header a, .toolbox a{
	color:#64dd33;
	text-decoration: none;
	cursor: pointer;
}
.tab-header a:hover, .toolbox a:hover{
	text-decoration: underline;
}

.tab-title{
	font-size: 1.17em;
}

pre{
	font-size: 14px;
}

.toolbox{
	padding: 0 41px;
	font-size: 13px;
}

.instrument{
	padding-left: 4px;
	font-size: 0.7em;
}

.instrument-Guitar{
	color:rgb(112, 195, 201);
}
.instrument-Bass{
	color:rgb(152, 201, 112);
}